<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Fiamthu</title>
    <link rel="stylesheet" href="fiamthu.css">
</head>
<body>
<div class="fiamthu-heading">
    <a class="home" href="index.html"><i class="fas fa-home"></i></a>
    <h1 class="fiamthu">FIAMTHU</h1>
</div>
<div class="James1">
    <img src="play.png" id="icon">
    <p class="James1">James nonoa - Aje le i mawi ber e</p>
    <audio id="James1">
        <source src="FIAMTHU/Aje-le-i-mawi-ber-e-James-No-No.mp3" type="audio/mp3">
    </audio>
</div>
<div class="Albert-ft-Maste-Duhdah">
    <img src="play.png" id="icon0">
    <p class="Albert-ft-Maste-Duhdah">Albert ft Maste - Duhdah</p>
    <audio id="AlbertFtMaste">
        <source src="FIAMTHU/Albert-ft-Maste-Duhdah.mp3" type="audio/mp3">
    </audio>
</div>
<div class="Costea-feat-Mastea">
    <img src="play.png" id="icon1">
    <p class="Costea-feat-Mastea">Costea ft. Mastea - Lung a leng thin</p>
    <audio id="CosteaFeatMastea">
        <source src="FIAMTHU/Costea-feat-Mastea-Lung-a-leng-thin.mp3" type="audio/mp3">
    </audio>
</div>
<div class="James2">
    <img src="play.png" id="icon2">
    <p class="James2">James nonoa - I ropui phah lo</p>
    <audio id="James2">
        <source src="FIAMTHU/James-nono-I-ropui-phah-lo.mp3" type="audio/mp3">
    </audio>
</div>
<div class="Khawtea">
    <img src="play.png" id="icon3">
    <p class="Khawtea">Khawtea - A pui chuee</p>
    <audio id="Khawtea">
        <source src="FIAMTHU/Khawtea-A-pui-chuee.mp3" type="audio/mp3">
    </audio>
</div>
<div class="Lalchhanhima1">
    <img src="play.png" id="icon4">
    <p class="Lalchhanhima1">Lalchhanhima - Medley1</p>
    <audio id="Lalchhanhima1">
        <source src="FIAMTHU/Lalchhanhima-Medley1.mp3" type="audio/mp3">
    </audio>
</div>
<div class="Lalchhanhima2">
    <img src="play.png" id="icon5">
    <p class="Lalchhanhima2">Lalchhanhima - Medley2</p>
    <audio id="Lalchhanhima2">
        <source src="FIAMTHU/Lalchhanhima-Medley2.mp3" type="audio/mp3">
    </audio>
</div>
<div class="Laltanpuia1">
    <img src="play.png" id="icon6">
    <p class="Laltanpuia1">P.C Laltanpuia - Luck haih haih hi zawng</p>
    <audio id="Laltanpuia1">
        <source src="FIAMTHU/Laltanpuia-Luck-haih-haih-hi-zawng.mp3" type="audio/mp3">
    </audio>
</div>
<div class="mapuia-leh-lray">
    <img src="play.png" id="icon7">
    <p class="mapuia-leh-lray">Mapuia leh Lray</p>
    <audio id="mapuiaLehLray">
        <source src="FIAMTHU/mapuia-leh-lray.m4a" type="audio/mp3">
    </audio>
</div>
<div class="Mapuia1">
    <img src="play.png" id="icon8">
    <p class="Mapuia1">Mapuia - Nupui neih ngenna</p>
    <audio id="Mapuia1">
        <source src="FIAMTHU/Mapuia-Nupui-neih-ngenna.mp3" type="audio/mp3">
    </audio>
</div>
<div class="Mapuia2">
    <img src="play.png" id="icon9">
    <p class="Mapuia2">Mapuia - Pa pakhat a daileng a</p>
    <audio id="Mapuia2">
        <source src="FIAMTHU/Mapuia-Pa-pakhat-a-dai-leng-a.mp3" type="audio/mp3">
    </audio>
</div>
<div class="PuThangthuama1">
    <img src="play.png" id="icon10">
    <p class="PuThangthuama1">Pu Thangthuama - Cameroon theihai</p>
    <audio id="PuThangthuama1">
        <source src="FIAMTHU/Pu-Thangthuama-Cameroon-theihai.mp3" type="audio/mp3">
    </audio>
</div>
<script src="fiamthu.js"></script>
</body>
</html>



