* {
    margin: 0;
    padding: 0;
}
.gospel-heading {
    background-color: #a83256;
    border: 2px solid #fafcfb;
    border-radius: 10px;
}
.gospel {
    text-align: center;
    font-size: 60px;
    padding-top: 10vh;
    padding-bottom: 15vh;
    font-family: Constantia;
    font-size: 35px;
}
.home {
    font-size: 30px;
    margin: 5px;
}
}
.home:hover {
    opacity: .9;
}
img {
    width: 60px;
}
.hmingtea-ft-helly {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 35px;
    border-bottom: 1px solid black;
}
.hmingtea {
    display: flex;
    align-items: center;
    font-size: 35px;
    text-decoration: none;
    border-bottom: 1px solid black;
}
.andrew-zurui-tawngtai {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 35px;
    border-bottom: 1px solid black;
}
.lalhlimpuii {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 35px;
    border-bottom: 1px solid black;
}
.Duhsaki {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 35px;
    border-bottom: 1px solid black;
}
.sailova1 {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 35px;
    border-bottom: 1px solid black;
}
.sailova2 {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 35px;
    border-bottom: 1px solid black;
}
.bethsy {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 35px;
    border-bottom: 1px solid black;
}
.sailova3 {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 35px;
    border-bottom: 1px solid black;
}
.duhsaki2 {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 35px;
    border-bottom: 1px solid black;
}
.OiC {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 35px;
    border-bottom: 1px solid black;
}
.DintluangaTochhawng {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 35px;
    border-bottom: 1px solid black;
}
.hmingtea3 {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 35px;
    border-bottom: 1px solid black;
}
.ThenzawlVengthlangKohhran {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 35px;
    border-bottom: 1px solid black;
}
.EstherHnamte1 {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 35px;
    border-bottom: 1px solid black;
}






