* {
    margin: 0;
    padding: 0;
}
.lengzem-heading {
    background-color: #591fa1;
    border: 2px solid #fafcfb;
    border-radius: 10px;
}
.lengzem {
    text-align: center;
    font-size: 60px;
    padding-top: 10vh;
    padding-bottom: 15vh;
    font-family: Constantia;
}
.home {
    font-size: 30px;
    margin: 5px;
}
}
.home:hover {
    opacity: .9;
}
img {
    width: 60px;
}
.IsraelLalbiakrema1 {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    border-bottom: 1px solid black;
}
.IsraelLalbiakrema2 {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    border-bottom: 1px solid black;
}
.KHminga1 {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    border-bottom: 1px solid black;
}
.KHminga2 {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    border-bottom: 1px solid black;
}
.Kimkima1 {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    border-bottom: 1px solid black;
}
.Kimkima2 {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    border-bottom: 1px solid black;
}
.Lalnunsanga {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    border-bottom: 1px solid black;
}
.Lilzo1 {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    border-bottom: 1px solid black;
}
.Lilzo2 {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    border-bottom: 1px solid black;
}
.TriauTrackx {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    border-bottom: 1px solid black;
}
.VanHleihSung {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    border-bottom: 1px solid black;
}
.ZauteaFeatZonunBand {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    border-bottom: 1px solid black;
}
.MazualiK {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    border-bottom: 1px solid black;
}
.FelaColney {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    border-bottom: 1px solid black;
}
.JMalsawma {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    border-bottom: 1px solid black;
}
.BenjaminSum {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    border-bottom: 1px solid black;
}
.BenjaminSum2 {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    border-bottom: 1px solid black;
}





